<!DOCTYPE html>
<html>
<head>
  <title>cucumber-websocket-example</title>

  <%= stylesheet_link_tag "screen" %>
</head>
<body>

<header>
  <h1>Cucumber WebSocket Example</h1>
</header>

<section>
  <%= yield %>
</section>

</body>
</html>
